testing/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "v_ConfiguracionTablas",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_ConfiguracionTablas",
					"value": [
						{
							"contenedorOrigen": "entrada",
							"archivoOrigen": "cliente.csv",
							"contenedorDestino": "salida",
							"archivoDestino": "cliente.csv",
							"prioridad": 1
						},
						{
							"contenedorOrigen": "entrada",
							"archivoOrigen": "cuenta.csv",
							"contenedorDestino": "salida",
							"archivoDestino": "cuenta.csv",
							"prioridad": 1
						},
						{
							"contenedorOrigen": "entrada",
							"archivoOrigen": "direcciones.csv",
							"contenedorDestino": "salida",
							"archivoDestino": "direcciones.csv",
							"prioridad": 2
						},
						{
							"contenedorOrigen": "entrada",
							"archivoOrigen": "productos.csv",
							"contenedorDestino": "salida",
							"archivoDestino": "productos.csv",
							"prioridad": 2
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "v_ConfiguracionTablas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_ConfiguracionTablas')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_ConfiguracionTablas": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}