testing/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "control",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ae",
					"value": [
						{
							"contenedorOrigen": "entrada",
							"archivoOrigen": "clientes.csv",
							"contenedorDestino": "salida",
							"archivoDestino": "cliente.csv",
							"prioridad": 1
						},
						{
							"contenedorOrigen": "entrada",
							"archivoOrigen": "cuenta.csv",
							"contenedorDestino": "salida",
							"archivoDestino": "cuenta.csv",
							"prioridad": 1
						},
						{
							"contenedorOrigen": "entrada",
							"archivoOrigen": "direcciones.csv",
							"contenedorDestino": "salida",
							"archivoDestino": "direcciones.csv",
							"prioridad": 2
						},
						{
							"contenedorOrigen": "entrada",
							"archivoOrigen": "productos.csv",
							"contenedorDestino": "salida",
							"archivoDestino": "productos.csv",
							"prioridad": 2
						}
					]
				}
			},
			{
				"name": "stopNow",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "stopNow",
					"value": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "control",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "stopNow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('ae')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Not Stopped",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(variables('stopNow'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Skip Processing",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_AzureBlob_Generico",
												"type": "DatasetReference",
												"parameters": {
													"p_contenedor": "@item()['contenedorOrigen']",
													"p_archivo": "@item()['archivoOrigen']"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_AzureBlob_Generico",
												"type": "DatasetReference",
												"parameters": {
													"p_contenedor": "@item()['contenedorDestino']",
													"p_archivo": "@item()['archivoDestino']"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Check Priority on Error",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If Not Stopped",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(not(variables('stopNow')), equals(int(item()['prioridad']), 1))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Log Error Priority 2",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "stopNowTrue",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "stopNow",
											"value": true
										}
									},
									{
										"name": "Fail1",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "stopNowTrue",
												"dependencyConditions": [
													"Completed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": "ERROR EN UNA TABLA PRIORIDAD",
											"errorCode": "100"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"ae": {
				"type": "Array"
			},
			"stopNow": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}